<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="konzolaForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!konzolaForm.valid">Sacuvaj</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Otkazi</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="naziv">Naziv</label>
            <input
              type="text"
              id="naziv"
              formControlName="naziv"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="opis">Opis</label>
            <textarea
              type="text"
              id="opis"
              class="form-control"
              formControlName="opis"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="oprema">
          <div
            class="row"
            *ngFor="let ingredientCtrl of konzolaForm.get('oprema').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="naziv">
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="broj">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteOprema(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddOprema()">Dodaj opremu</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
